.navigation {
    display: flex;
    justify-content: center;
}


.logo {
    font-family: "Raleway", san-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding-left: 10px;
}



@media screen and (min-width: 900px) {
    
    .navigation {
        display: flex;
        gap: 40px;
    }


    .logo {
        font-family: "Raleway", san-serif;
        font-weight: 700;
        font-size: 24px;
        color: white;
        padding-left: 20px;
    }
}
